<h1>New Director</h1>
<%= form_tag directors_path, method: 'post' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <p>
  <%= label_tag :dob %>
  <%= text_field_tag :dob %>
  <br>
  <%= submit_tag 'Add Director' %>
<% end %>
